In [79]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import numpy
import matplotlib
import pandas as pd
from scipy.spatial import distance
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [88]:
df = pd.read_csv("report.csv", sep=",")
df.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
0,53.789062,30.062085,3.231805,18.011655,30.670569,67.752058,1.972958,2.336556,1
1,88.250000,39.046047,0.571522,1.470493,4.650502,25.669724,6.217865,40.987388,0
2,55.187500,35.726773,2.206251,8.562220,32.508361,59.498159,1.812744,2.443437,1
3,87.750000,38.204630,0.851328,2.376166,2.226589,15.082094,9.076639,102.732359,0
4,58.437500,47.269631,2.148539,4.683292,55.520067,74.838212,1.138116,-0.027806,1

In [89]:
df["MIP"].mean()

72.01322710396039

In [90]:
scaler.fit(df)
data = pd.DataFrame(scaler.transform(df), columns=df.columns)
data.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
0,0.024171,0.120899,0.820927,0.699188,0.158267,0.668868,0.122781,0.005808,1.0
1,0.993408,0.419886,0.059686,0.059765,0.022172,0.193411,0.282326,0.061030,0.0
2,0.063503,0.309420,0.527464,0.333906,0.167880,0.575613,0.116759,0.005960,1.0
3,0.979345,0.391884,0.139752,0.094775,0.009494,0.073790,0.389773,0.149247,0.0
4,0.154911,0.693568,0.510950,0.183960,0.288240,0.748929,0.091403,0.002430,1.0

In [91]:
data["MIP"].mean()
del data["TARGET"]

In [92]:
data2 = data.to_numpy()
cur = tuple(np.array([0.833, 0.092, 0.443, 0.092, 0.112, 0.86, 0.742, 0.299]))

In [95]:
A = []
for line in data2:
    A.append(distance.euclidean(tuple(line), cur))
print(min(A))

0.9033027003473697